@import url('https://fonts.googleapis.com/css?family=Roboto');

.App {
  margin-top: 50px;
}

.logout {
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 5px;
  float: right;
}
@media (max-width: 600px) {
  .facet_sidebar {
    display: none;
  }
}

.form1 {
  margin-left: 10rem;
  float: left;
}

.App__user-info {
  float: right;
  margin-left: 20px;
  margin-right: 10rem;
  
}

.form-control > form {
  margin-top: 15px;
  background-color: #d6ddd7;
  width: 270px;
  height: 55vh;
  margin-left: 0;
  padding-left: 40px;
  padding-top: 40px;
  font-size: 15px;
  border-radius: 2rem;
}

.form-control >form > label {
  font-size: 18px;
}

.form-control >form > input {
  width: 200px;
  height: 30px;
  margin: 15px;
  background-color: white;
  border-radius: 4px;
}

.users {
  list-style-type: none;
  padding: 10px;
  margin-top: 2.5rem;
  margin-left: 5rem;
  width: 20rem;
  background-color:rgba(178, 187, 189, 0.952);
  border-radius: 10px;
  text-align: center;
  line-height: 1.8;
  font-size: 1rem;
}

.form-control >form > button {
  width: 100px;
  color: white;
  margin-left: 85px;
  margin-top: 40px;
  height: 38px;
  background-color: blue;
  font-size: 15px;
  border-radius: 5px;
}

.form2 {
  margin-top: 50px;
  margin-left: 180px; 
}

.form3 {
  margin-top: 10px;
  margin-right: 40px;

}